# We ignore everything
*

# We include only specific directories and files
!src
!src/**
!.env.sample
!.eslintignore
!.eslintrc.cjs
!.gitignore
!.prettierignore
!.prettierrc.json
!first-issues-and-roadmap.md
!images
!images/**
!ormconfig.sample.json
!package-lock.json
!package.json
!project-charter.md
!README.md
!swagger.json
!tsconfig.json