# We ignore everything
*

# We include only specific directories and files
!src
!src/**
!.env.sample
!.eslintignore
!.eslintrc.cjs
!.gitignore
!.prettierignore
!.prettierrc.json
!code_of_conduct.md
!LICENSE
!ormconfig.sample.json
!package-lock.json
!package.json
!README.md
!swagger.json
!tsconfig.json
src/uploads/
certificates
